body {
    background-color: #e0e6e8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 20px;
 }

.container {
    width: 950px;
    height: 1200px;
    margin: 0 auto;
    background-color: #eb7d7d;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.container-e {
    width: 950px;
    height: 1200px;
    margin: 0 auto;
    background-color: #a1ab7f;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.card1 {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  transition: 0.4s;
}

.card1:hover {
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
}

.container-1 {
  background-color: aquamarine;
  padding: 2px 5px;
}


.card2 {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  transition: 0.4s;
}

.card2:hover {
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
}

.container-2 {
  background-color: aquamarine;
  padding: 2px 5px;
}


.card3 {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  transition: 0.4s;
}

.card3:hover {
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
}

.container-3 {
  background-color: aquamarine;
  padding: 2px 5px;
}


.card4 {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  transition: 0.4s;
}

.card4:hover {
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
}

.container-4 {
  background-color: aquamarine;
  padding: 2px 5px;
}

/* separation for containers on discovery page */


.card5 {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  transition: 0.4s;
}

.card5:hover {
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
}

.container-5 {
  background-color: aquamarine;
  padding: 2px 5px;
}


.card6 {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  transition: 0.4s;
}

.card6:hover {
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
}

.container-6 {
  background-color: aquamarine;
  padding: 2px 5px;
}


.card7 {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  transition: 0.4s;
}

.card7:hover {
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
}

.container-7 {
  background-color: aquamarine;
  padding: 2px 5px;
}


.card8 {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  transition: 0.4s;
}

.card8:hover {
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
}

.container-8 {
  background-color: aquamarine;
  padding: 2px 5px;
}

.contact-list{
    margin-top: 70px;
    margin-right: 100px;
    width: 300px;
    height: 300px;

}


.textalign{
    margin-top: 5px;
    margin-right: 700px;
}

/* css for chat box and conversation pieces */

.chatcontainer {
    position: absolute;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  width: 500px;
  height: 400px;
  margin-top: -200px;
  margin-left: 375px;

}


.containerdarker {
  border-color: #ccc;
  background-color: #ddd;
}


.container::after {
  content: "";
  clear: both;
  display: table;
}


.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}


.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}


.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.chatfield{
    margin-top: 75px;
    
}

.chatbutton{
    background-color: aliceblue;
}








/*nav menu formating below*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #818181;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: rgb(255, 131, 78);
}

li a:hover {
  background-color: #111111;
}
/*styling for get started button(some pulled from given css style sheet)*/
button {
font-family: inherit; /* Use same font as body */
cursor: pointer; /* Show pointer cursor on hover */
align-items: center;
}
button {
/* DISPLAY
inline-block allows width/height but keeps inline flow */
display: inline-block;
/* PADDING
Space inside button (makes it bigger and easier to click) */
padding: 0.75rem 1.5rem; /* 12px top/bottom, 24px left/right */
/* BORDERS */
border: none; /* Remove default button border */
border-radius: var(--radius-md); /* Rounded corners (6px) */
/* TEXT */
font-weight: 600; /* Semi-bold text */
font-size: 1rem; /* Same as body text */
text-align: center; /* Center text inside button */
/* CURSOR
Shows hand pointer on hover (indicates it's clickable) */
cursor: pointer;
/* TRANSITION
Smooth animation when properties change */
transition: all var(--transition-normal) ease;
/* MISC */
text-decoration: none; /* Remove underline if button is a link */
white-space: nowrap; /* Prevent text from wrapping to new line */
}